# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

/src/generated/resources/.cache/
/src/generated/resources/data/minecraft/advancements/
libs/epicfight-19.5.0.19.jar
libs/epicfight-19.5.10.jar
