# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs

# Files from Forge MDK
forge*changelog.txt
changelog.txt
CREDITS.txt
LICENSE
LICENSE.txt
README.md
README.txt
logs/latest.log
logs/debug.log
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_0.nbt
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_1.nbt
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_2.nbt
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_3.nbt
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_4.nbt
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_5.nbt
src/main/resources/data/kingdomkeys/structures/castle_oblivion/castle_oblivion_6.nbt
